# BEGINNER

## Print() function

In [4]:
# You can assign "Hello World!" to the variable below on line 3.

my_text="Hello World"
print(my_text)

Hello World

In [5]:
#There are many ways to concetenate different data pieces with Python's print() function. Here is one of them. Take a look!
# Type a couple of different values on line 9 inside the print function. Make sure they are separated by commas.    
    
print("hi")

hi

## Variables

In [6]:
## Below is a good example of mixing numbers and text inside the print() function

#Type here. Assign a number to the variable: glass_of_water

glass_of_water=3

print("I drank", glass_of_water, "glasses of water today.")

I drank 3 glasses of water today.

In [1]:
## Let's try to see what happens after assigning a new value to our variable. Note that program gets executed line by line.

Hello World

In [9]:
#Fill the print function so it prints glass_of_water

#Fill the print function so it prints glass_of_water

glass_of_water=3

glass_of_water=glass_of_water + 1


print(glass_of_water)

4

## Data Type

In [12]:
#Assign an integer to the variable, then print it.

men_stepped_on_the_moon=18
print(men_stepped_on_the_moon)

18

In [14]:
#Type a couple of words or a short sentence for your variable, then print it.

my_reason_for_coding="being fxking rich"
print(my_reason_for_coding)

being fxking rich

In [15]:
#Assign a float with 2 decimals to the variable below. If you don't wan't to search the value you can check out Hint 1.

global_mean_sea_level_2018=21

#Type your code here.
global_mean_sea_level_2018=21.36


print(global_mean_sea_level_2018)

21.36

In [16]:
#Assign True or False to the variable below then print it.

staying_alive=True
print(staying_alive)

True

## Type Conversion

In [17]:
## Using type() function assign the type of the variable to answer_1, then print it.
men_stepped_on_the_moon=12

#Type your code here.

answer_1=men_stepped_on_the_moon


print(type(answer_1))

<class 'int'>

In [18]:
## Using type() function assign the type of the variable to answer_2, then print it.
my_reason_for_coding="intergalactic travel"

#Type your code here.

answer_2=my_reason_for_coding


print(type (answer_2))

<class 'str'>

In [20]:
global_mean_sea_level_delta_2018=21.36

#Type your code here.

answer_3=type(global_mean_sea_level_delta_2018)


print(answer_3)

<class 'float'>

In [21]:
staying_alive=True

#Type your code here.


answer_4=type(staying_alive)


print(answer_4)

<class 'bool'>

In [22]:
#my_grade variable is a string (because it's in quotes). On line 9, convert it to an integer.

my_grade="10"

answer_5=int(my_grade)


print(answer_5)

10

In [23]:
#my_temp variable is a float (because it has decimals). On line 9, convert it to an integer.

my_temp=97.70

answer_6=int(my_temp)


print(answer_6)

97

In [24]:
#shoe_price variable is a string (because it's in quotes). On line 9, convert it into a float.

shoe_price="69.99"

answer_7=float(shoe_price)


print(answer_7)

69.99

In [25]:
#GWP denotes the total economic activity created by the world population collectively in a year.

gross_world_product=84.84

gwp_str=str(gross_world_product)

answer_8="In 2018 gross product of the world (GWP) was " + gwp_str + " in trillion US dollars."


print(answer_8)

In 2018 gross product of the world (GWP) was 84.84 in trillion US dollars.

## Data Structure

In [27]:
## Let's create an empty list and print its type

#Create an empty list on line 3 and assign its type on line 4

gift_list=[]

answer_1=type(gift_list)


print(answer_1)

<class 'list'>

In [28]:
## Now, we will create an empty dictionary and print its type.
#Create an empty dictionary on line 3 and assign its type on line 4

grocery_items={}

answer_2=type(grocery_items)


print(answer_2)

<class 'dict'>

In [29]:
## Then we will create an empty tuple and print its type.
#Create an empty tuple on line 3 and assign its type on line 4

bucket_list=()

answer_2=type(bucket_list)


print(answer_2)

<class 'tuple'>

In [31]:
#Fill in the right side of equation on line 3 so that gift_list is assigned to a list with values in it.

gift_list=["emas 100gr","Laptop", 3 , "Handphone"]
print(gift_list)

['emas 100gr', 'Laptop', 3, 'Handphone']

In [33]:
#Fill in the right side of equation on line 3 so that grocery_list is assigned to a dictionary with values in it.

grocery_list={'buah':['apples','mangoes','blueberries'],
             'frozen food':'nugget',
             'snack':'chiki'}


print(grocery_list)

{'buah': ['apples', 'mangoes', 'blueberries'], 'frozen food': 'nugget', 'snack': 'chiki'}

In [34]:
#Fill in the right side of equation on line 3 so that bucket_list is assigned to a tuple with values in it.

bucket_list=('baz','uhuy','uyeah')
print(bucket_list)

('baz', 'uhuy', 'uyeah')

## List

In [35]:
lst=[11, 100, 99, 1000, 999]
answer_1=lst[0]

print(answer_1)

11

In [36]:
##And let's print the second element directly inside print function.
##This time print the second element of the list directly on line 3. You should get 100.

lst=[11, 100, 101, 999, 1001]

print(lst[1])

100

In [37]:
## Print the last element of the list through variable answer_1.
lst=[11, 100, 101, 999, 1001]
#Type your answer here.

answer_1=lst[-1]

print(answer_1)

1001

In [38]:
## On line 3, add the string "pajamas" to the list with .append() method.

gift_list=['socks', '4K drone', 'wine', 'jam']
# Type your code here.
gift_list.append("pajamas")


print(gift_list)

['socks', '4K drone', 'wine', 'jam', 'pajamas']

In [39]:
## Lists can hold many type of data inside them. You can even add another list to a list as its element. This is called nested data in Python.
#On line 3, this time add the sub-list: ["socks", "tshirt", "pajamas"] to the end of the gift_list.

gift_list=['socks', '4K drone', 'wine', 'jam']
# Type your code here.
gift_list.append(["socks", "tshirt", "pajamas"])


print(gift_list)

['socks', '4K drone', 'wine', 'jam', ['socks', 'tshirt', 'pajamas']]

In [40]:
## On line 3, this time insert "slippers" to index 3 of gift_list.
gift_list=['socks', '4K drone', 'wine', 'jam']
# Type your code here.
gift_list.insert(2,'slippers')


print(gift_list)

['socks', '4K drone', 'slippers', 'wine', 'jam']

In [41]:
## With .index() method you can learn the index number of an item inside your list. Assign the index no of 8679 to the variable answer_1
lst=[55, 777, 54, 6, 76, 101, 1, 2, 8679, 123, 99]
#  Type your code here.

answer_1=lst.index(8679)

print(answer_1)

8

In [42]:
## Using .append() method, add a new list to the end of the list which contains strings: "Navigator" and "Suburban".
lst=["CRV", "Outback", "XC90", "GL", "Cherokee", "Escalade"]
#  Type your code here.
lst.append(["Navigator","Suburban"])


print(lst)

['CRV', 'Outback', 'XC90', 'GL', 'Cherokee', 'Escalade', ['Navigator', 'Suburban']]

In [43]:
##Using .remove() method, clear the last element of the list.
lst=[55, 777, 54, 6, 76, 101, 1, 2, 8679, 123, 99]
#  Type your code here
lst.remove(99)


print(lst)

[55, 777, 54, 6, 76, 101, 1, 2, 8679, 123]

In [44]:
## Using .reverse() method, reverse the list
lst=[55, 777, 54, 6, 76, 101, 1, 2, 8679, 123, 99]
#  Type your code here.
lst.reverse()


print(lst)

[99, 123, 8679, 2, 1, 101, 76, 6, 54, 777, 55]

In [45]:
## Using .count() method, count how many times 6 occur in the list
lst=[55, 6, 777, 54, 6, 76, 101, 1, 6, 2, 6]
#  Type your code inside print() function.

answer_1=lst.count(6)

print(answer_1)

4

In [46]:
## What is the sum of all the numbers in the list?
lst=[55, 6, 777, 54, 6, 76, 101, 1, 6, 2, 6]

#  Type your code on line 4:
answer_1=sum(lst)

print(answer_1)

1090

In [47]:
## What is the minimum value in the list?
lst=[55, 6, 777, 54, 6, 76, 101, 1, 6, 2, 6]

#  Type your code on line 4:
answer_1=min(lst)

print(answer_1)

1

In [48]:
lst=[55, 6, 777, 54, 6, 76, 101, 1, 6, 2, 6]

#  Type your code on line 4:
answer_1=max(lst)

print(answer_1)

777